def fibonacci(n: i32) {
    if n <= 1 {
        return n
    } else {
        return fib(n - 1) + fib(n - 2)
    }
}

def fibonacci(n: i32) {
    return when {
        case n <= 1 -> n,
        case _ -> fib(n - 1) + fib(n - 2)
    }
}

def fibonacci(n: i32) = when {
    case n <= 1 -> n,
    case _ -> fib(n - 1) + fib(n - 2)
}
